html {
    background: url(images/ice_image.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')";
    width: 100%
;
}
body{
    font-family: Verdana, Geneva, sans-serif;
    min-height: 200px;
}
body *{
    margin: 0px;
}
header{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 10vh;
    width: 50%;
    margin-top: 1vh ;
    margin-bottom: 1vh ;
    margin-right: 1vw ;
    margin-left: 1vw ;
}

p {
    color: white;
}

.right{
    text-align: right;
}

.left {
    text-align: left;
}

.quote_block{
    bottom: 5vh;
    right: 1vw;
    position: fixed;
    margin-top: 1vh ;
    margin-bottom: 1vh ;
    margin-right: 1vw ;
    margin-left: 1vw ;
}
.quote{
    font-size: 3vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
    width: 50%;

}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: close-quote;
}

.quote_author{
    text-align: right;
    padding-right: 5%;
    font-size: 2vh;
    bottom: 2vh;
}

.quote_author:before{
    content: '-';
}

.img-description{
    bottom: 0px;
    position: fixed;
    margin-top: 1vh ;
    margin-bottom: 1vh ;
    margin-right: 1vw ;
    margin-left: 1vw ;
    text-align: center;
}
.img_title{
    font-size: 2vh;
    text-align: center;
}


.img_details{
    font-size: 1vh;
    text-align: center;
}

